* {
  margin: 0;
  padding: 0;
  margin-top:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.header {
  display: flex;
  background-color:#FFFDD0;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 25px;
  /* border-style: solid; */
}

.form{
  display: flex;
  background-color:#ffffff;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 25px;
}

.label{
  font-weight: bold;
}

.textArea{
  display: flex;
  background-color:#ffffff;
  padding: 15px;
  margin: 50px 55px;
}